* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333335FF;
	color: #FFFFFF;
	text-align: center;
	padding: 1%;
	letter-spacing: 50%;
}

header h1 {
	font-size: 70px;
	font-family: 'Major Mono Display', monospace;
}

header p {
	color: inherit;
	font-size: 30px;
	font-family: 'Share Tech Mono', monospace;
	padding: 2% 0 0;
	letter-spacing: inherit;
}

header ul {
	color: inherit;
	font-size: 12px;
	font-family: monospace;
	padding: 2%;
}

.main {
	margin: 0 50% 0 0;
	padding:  5% 5%;
	background-color: #333335;
	width: 640px;
	height: 640px;
}

.main h1 {
	color: #FFFFFF;
	font-family: 'Major Mono Display', monospace;
	padding: 0 0 10px;
	font-size: 50px;
}

.main h2 {
	color: #CDCDCD;
	font-family: 'Share Tech Mono', monospace;
	padding: 10px 0 25px;
	font-size: 25px;
}

.main p {
	color: #CDCDCD;
	font-family: 'Share Tech Mono', monospace;
	padding: 10px 0;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.headset {
	width: 640px;
	float: right;
}

.second {
	text-align: center;
	margin: 0;
	padding: 5%;
	background-color: #CDCDCD;
}

.second h1 {
	color: #0C0910;
	font-family: 'Major Mono Display';
	font-size: 50px;
	padding: 0 0 2%;
}

.second h2 {
	color: #0C0910;
	font-family: 'Share Tech Mono', monospace;
	font-size: 25px;
}

.world {
	width: 70%;
	padding; 0 2%;
}

#castle {
	float: right;
	margin-bottom: 5px;
	outline: 5px solid #CDCDCD;
}

#space {
	float: left;
	margin-bottom: 5px;
	outline: 5px solid #CDCDCD;
}

#mountain {
	float: right;
	outline: 5px solid #CDCDCD;
}

.first-panel {
	width: 30%;
	height: 453px;
	background-color: #CDCDCD;
	padding: 20px;
	font-family: 'Share Tech Mono', monospace;
	font-size: 22px;
}

.second-panel {
	width: 30%;
	height: 400px;
	background-color: #CDCDCD;
	float: right;
	text-align: right;
	padding: 20px;
	font-family: 'Share Tech Mono', monospace;
	font-size: 22px;
}

.third-panel {
	background-color: #CDCDCD;
	width: 30%;
	height: 856px;
	padding: 20px;
	font-family: 'Share Tech Mono', monospace;
	font-size: 22px;
}

.footer {
	border-bottom: solid white 5px;
	padding: 0 0 2%;
}

a {
	color: inherit;
}
